// 
// Typography
// 

$font-family-acme: 'Acme',
sans-serif;


$headings-font-family: 'Montserrat', 
sans-serif;

$headings-font-weight: 700;
$font-size-base: 1rem;
$font-size-lg:                $font-size-base * 1.75;